{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company - Login</title>
    <link rel="icon" type="image/png" href="{% static 'login/images/logoonly.png' %}">
    <link rel="stylesheet" href="{% static 'login/style.css' %}">
    <script src="{% static 'login/script.js' %}"></script>
</head>
<body>
    <section id="login-box" class="self-center">
        <section id="top-section">
            <img src="{% static 'login/images/logo.png' %}" alt="logo">
            <h1>Manager Login</h1>
        </section>

        <section id="inputs-section">
            <div class="login-div-form">
                <div class="login-form-img"><img src="{% static 'login/images/usuario.png' %}" alt="usuário"></div>
                <input class="login-form" type="text" name="username" required placeholder="Login"></input>
            </div>
    
            <div class="login-div-form">
                <div class="login-form-img"><img src="{% static 'login/images/cadeado.png' %}" alt="usuário"></div>
                <input class="login-form" type="password" name="password" required placeholder="Password"></input>
            </div>

            <button id="submit">
                Login
            </button>
        </section>


    </section>
</body>
</html>