body{
    margin: 0px;
}
.navbar{
    width: 100vw;
    height: 115px;
    background-color: rgb(37, 58, 177);

    display: flex;
    align-items: center;
}

#nav-bar-logo{
    height: 90px;
    width: 90px;
    background-color: white;
    border-radius: 50%;
    margin-left: 80px;
}
#nav-bar-logo>img{
    height: 90px;
    width: 90px;
}

#nav-bar-nav{
    height: 115px;
    width: 50vw;

    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 40px;
}