{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company - Home</title>
    <link rel="icon" type="image/png" href="{% static 'mainpage/images/logoonly.png' %}">
    <link rel="stylesheet" href="{% static 'mainpage/home.css' %}">
</head>


<body>
    <header>
        <nav class="navbar">
            <div id="nav-bar-logo"><img src="{%static 'mainpage/images/logo.png'%}" alt="logo"></div>

            <div id="nav-bar-nav">
                <a href="/main/home" class="nav-button"><h1>Home</h1></a>
                <a href="/main/manage" class="nav-button"><h1>Gerenciamento</h1></a>
                <a href="/main/news" class="nav-button"><h1>Noticias</h1></a> 
            </div>
        </nav>
    </header>

</body>
</html>

