{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company - Home</title>
    <link rel="icon" type="image/png" href="{% static 'mainpage/images/logoonly.png' %}">
    <link rel="stylesheet" href="{% static 'mainpage/home/style.css' %}">
</head>


<body>
    <header>
        <nav class="navbar">
            <div id="nav-bar-logo"><img src="{%static 'mainpage/images/logo.png'%}" alt="logo"></div>

            <div id="nav-bar-nav">
                <li>
                    <a href="">Home</a>
                    <a href="">Home</a>
                    <a href="">Home</a> 
                </li>
            </div>
        </nav>
    </header>

</body>
</html>

